.wrapperExpectedMonthlyExpense {
    padding: 50px 20px;
    gap: 50px;
}

.wrapperInput {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapperInputGroup {
    display: flex;
    border: 1px solid #DDDCE0;
    border-radius: 8px;
    align-items: center;
    padding: 12px 15px;
    gap: 30px;
}

.inputGroupText {
    color: var(--grey01);
    font-weight: 600;
    position: relative;
}

.inputGroupText::before {
    content: "";
    display: flex;
    height: 100%;
    width: 1px;
    background-color: var(--lightGrey);
    position: absolute;
    left: 45px;
}

.numberInput {
    width: 100%;
    border: none;
    outline: none;
}

@media (min-width: 768px) {
    .wrapperExpectedMonthlyExpense {
        padding: 73px 81px;
        gap: 50px;
    }
}