.sectionHero {
    padding: 50px 0;
    display: flex;
    background-image: url("../../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.wrapperHero {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.description {
    color: var(--grey01);
    margin-top: 40px;
}

.wrapperHero a {
    margin-top: 45px;
}

@media (min-width: 768px) {
    .wrapperHero {
        width: 700px;
    }

    .sectionHero {
        padding: 54px 0 99px 0;
    }
}