.sectionTotalAccumulatedDetails {
    background-color: var(--white);
    padding: 134px 0;
}

.wrapperTotalAccumulatedDetails {
    margin: auto;
    width: 942px;
}

.wrapperTotalAccumulated {
    display: flex;
    flex-direction: column;
}

.wrapperTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.wrapperGoal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
}

.progress {
    display: flex;
    gap: 22px;
    background-color: var(--grey06);
    padding: 15px;
    border-radius: 24px;
    box-shadow: 0px 1px 4px 0px #9F9DA1 inset;
    margin-top: 36px;
}

.progress .bar {
    height: 30px;
    border-radius: 41px;
}

.wrapperDetails {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 61px;
}

.boxDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailTitle {
    display: flex;
    align-items: center;
    gap: 30px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}