.sectionEmailReport {
    background-color: var(--salmonRed);
    padding: 50px 0;
    color: var(--white);
}

.wrapperEmailReport {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
}

.wrapperEmail {
    display: flex;
    gap: 23px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.inputEmail {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-radius: 8px;
    border: 1px solid var(--lightGrey);
    outline: none;
}

@media (min-width: 768px) {
    .sectionEmailReport {
        padding: 100px 0;
    }
    .wrapperEmail {
        flex-direction: row;
        width: 619px;
    }
    .inputEmail {
        width: 60%;
    }
}