.sectionAgeInput {}

.wrapperAgeInput {
    padding: 50px 20px;
    gap: 50px;
}

.wrapperAges {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapperInputValue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.rangeInput {
    width: 100%;
}

.numberInput {
    width: 106.41px;
    padding: 10px 5px 10px 10px;
    border-radius: 6px;
    border: 1px solid var(--lightGrey);
}

@media (min-width: 768px) {
    .wrapperAgeInput {
        padding: 78px 80px;
    }
}