.sectionEstimatedAmt {}

.wrapperEstimatedAmt {
    background-color: var(--grey04);
    padding: 50px 30px;
    align-items: center;
    gap: 23px;
}

.title {
    color: var(--grey01);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.amount {
    font-size: clamp(2.0625rem, 0.2727rem + 8.9489vw, 6rem);
    font-weight: 800;
    line-height: clamp(2.6875rem, 0.8977rem + 8.9489vw, 6.625rem);
    ;
}

@media (min-width: 768px) {
    .wrapperEstimatedAmt {
        padding: 68.5px 122.5px;
    }
}