img {
    width: 100%;
}

.sectionGender {}

.wrapperGender {
    padding: 1.875rem 1.25rem;
}

.wrapperGenderChoice {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.gender {
    display: flex;
    flex-direction: column;
    width: calc(100%/2);
    gap: 10px;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
}

.gender.selected {
    background-color: rgba(248 105 95 / 10%);
    padding: 0.313rem;
    border-radius: 20px;
    transition: all;
}

.gender.selected img {
    width: 100%;
}

.gender p {
    font-weight: 600;
}

@media (min-width: 768px) {
    .wrapperGender {
        padding: 3.125rem 5rem;
    }

    .wrapperGenderChoice {
        /* gap: 6.25rem; */
    }

    .gender {
        gap: 30px;
        width: 250px;
    }

    .gender img {
        width: 250px;
    }

    .gender.selected {
        padding: 0.938rem;
    }

    .gender p {
        font-size: 1.25rem;
    }
}