.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 100px 0;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.logo {
    width: clamp(10rem, 6.4286rem + 17.8571vw, 15rem);
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grey03);
    gap: 50px;
}

.copyright p {
    text-align: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 74px;
}

.socials {
    display: flex;
    gap: 32px;
}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials svg {
    width: 32px;
    height: 32px;
}

@media (min-width: 768px) {
    .columns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navList {
        gap: 50px;
    }

    .socials {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .columns {
        flex-wrap: unset;
    }

    .socials {
        width: unset;
    }
}