@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F8FA;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --grey01: #6F6F6F;
  --grey02: #A5A5A5;
  --grey03: #C1C1C1;
  --grey04: #EEEFFF;
  --grey05: #8CA2C0;
  --grey06: #F7F8FF;
  --grey07: #EFF2F6;
  --lightGrey: #DDDCE0;
  --yellow: #F8E15D;
  --salmonRed: #F8695F;
  --blue: #0088FF;
  --red: #FF0000;
  --purple: #381E72;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(2.125rem, 0.7857rem + 6.6964vw, 4rem);
  font-weight: 800;
}

h2 {
  font-size: clamp(1.75rem, 1.2143rem + 2.6786vw, 2.5rem);
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

p {
  font-size: clamp(1rem, 0.9107rem + 0.4464vw, 1.125rem);
  font-weight: 500;
  line-height: 1.5;
}

input {
  font-size: 1.125rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: #F7F8FF;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0px 1px 4px 0px #9F9DA1 inset;
  border-radius: 24px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  border: 1px solid #E8E8F6;
  box-shadow: 0px 4px 24px 0px #10184029;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: auto;
  opacity: 1;
}

.btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.btnOutline {
  border-radius: 36px;
  background-color: transparent;
  border: 2px solid var(--grey02);
  outline: none;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 0;
  min-width: 150px;
  font-size: clamp(1rem, 0.8214rem + 0.8929vw, 1.25rem);
  color: var(--black);
}

.btnYellow {
  border-radius: 36px;
  background-color: var(--yellow);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 20px;
  min-width: 150px;
  font-size: clamp(1rem, 0.8214rem + 0.8929vw, 1.25rem);
  color: var(--black);
}

@media (min-width: 768px) {
  input[type="range"]::-webkit-slider-thumb {
    width: 2.313rem;
    height: 2.313rem;
  }

  input[type="range"] {
    height: 0.813rem;
  }
}