@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", serif;
}

body {
  background-color: #F7F8FA;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --grey01: #6F6F6F;
  --grey02: #A5A5A5;
  --grey03: #C1C1C1;
  --grey04: #EEEFFF;
  --grey05: #8CA2C0;
  --grey06: #F7F8FF;
  --grey07: #EFF2F6;
  --lightGrey: #DDDCE0;
  --yellow: #F8E15D;
  --salmonRed: #F8695F;
  --blue: #0088FF;
  --red: #FF0000;
  --purple: #381E72;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(3rem, 1.6364rem + 6.8182vw, 6rem);
  font-weight: 800;
  line-height: clamp(3.5rem, 2.25rem + 6.25vw, 6.25rem);
}

h2 {
  font-size: clamp(2.1875rem, 1.9318rem + 1.2784vw, 2.75rem);
  line-height: clamp(2.875rem, 2.6193rem + 1.2784vw, 3.4375rem);
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

p, input {
  font-size: 20px;
  line-height: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 14px;
  background: #F7F8FF;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0px 1px 4px 0px #9F9DA1 inset;
  border-radius: 24px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  border: 1px solid #E8E8F6;
  box-shadow: 0px 4px 24px 0px #10184029;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: auto;
  opacity: 1;
}

.btnYellow {
  width: 198.46px;
  height: 56.94px;
  border-radius: 36px;
  background-color: var(--yellow);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 768px) {
  input[type="range"]::-webkit-slider-thumb {
    width: 44px;
    height: 44px;
  }
}